<section id="sidebar" class="col-md-4">
  <div id="sidebar-wrapper" class="sidebar-wrapper">
    <div class="section-box">
      <h4>Selected Diagnostics</h4>
      <ul>
        <li>Optimize Change Management</li>
        <li>Redesign IT Governance to Drive Optimal Business Results</li>
      </ul>
    </div>

    <div class="section-box">
      <h4>Selected Workshops</h4>
      <ul>
        <li>Optimize Change Management</li>
        <li>Redesign IT Governance to Drive Optimal Business Results</li>
      </ul>
    </div>

    <div class="section-box">
      <h4>Selected GI</h4>
      <ul>
        <li>Optimize Change Management</li>
        <li>Redesign IT Governance to Drive Optimal Business Results</li>
      </ul>
    </div>

    <div class="section-box-results gutter-bottom">
      <h4>Total Expected ROI:</h4>
      <p class="heading-blue" id="sum-of-roi">$25,000</p>
    </div>

    <button>Generate Plan</button>
  </div>
</section>
