<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h3>Event properties</h4>
  <%= @events[0] %>
  <hr /><br /><br />

  
  <% @events.each do |event| %>
    <dt><%= event.subject %></dt>
    <dd>
      <strong>Start: </strong><%= event.start %>
    </dd>
  <% end %>

</body>
</html>
