.img-container {
  position: relative;
  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.width-100p {
  width: 100%;
}


// List Stuffs
.list-style-none {
  list-style-type: none;
  padding: 0;
}
