#main-content {
  article {
    img {
      display: block;
      min-height: 80px;
      background: black;
    }

    p {
      color: black;
      line-height: 1.2;
    }
  }

  .client-header {
    padding: 5px 10px;
    width: 100%;
    font-size: 18px;
  }

  .results-box {
    &:last-child {
      border-bottom: none;
    }
  }

  .diagnostic-results {
    border-bottom: 5px solid black;
    list-style-type: none;
    padding: 0;
    li {
      padding: 10px 0;
      border-bottom: 1px solid #F2F2F2;
      position: relative;

      &:after {
        content: '';
        font-family: font-awesome;  
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

#sidebar {
  h4 {
    font-weight: 600;
    color: #4A4A4A;
  }

  .sidebar-wrapper {
    background: #F2F2F2;
    padding: 20px 30px 40px;
    width: 30%;
    position: fixed;
  }

  .section-box {
    border-bottom: 2px solid black;

    &:last-child {
      border-width: 5px;
    }  

    ul {
      padding-left: 20px;
    }
  }

  .section-box-results {
    .heading-blue {
      color: $blue;
      font-family: "Montserrat", sans-serif !important;
      font-weight: 900;
      font-size: 20px;
    }
  }
}
