$day-half-width: 50px;
$color-unavailable: rgba(0, 0, 0, 0.2);
// $color-available: rgba(255, 255, 255, 0.3);
$color-available: rgba(255, 255, 255, 0.1);

.simple-calendar {
  table {
    width: auto;
    margin: auto;
    border: none !important;
  }
  th {
    text-align: center;
    border: none !important;
    padding: 1px !important;
  }
  td {
    border: none !important;
    padding: 1px !important;
  }
  // bootstrap, go away!
  .table-striped {
    tbody {
      tr {
        border: none !important;
        background: none !important;
      }
    }
  }
  .event-block {
    box-sizing: content-box;
    width: 0;
    height: 0;
    position: relative;
    overflow: visible;
  }

  .available {
    border: $day-half-width solid $color-available;
  }
  .all-day {
    border: $day-half-width solid $color-unavailable;
  }
  .partial {
    border-top: $day-half-width solid $color-unavailable;
    border-right: $day-half-width solid $color-available;
    border-bottom: $day-half-width solid $color-available;
    border-left: $day-half-width solid $color-unavailable;
  }

  .date-num {
    position: absolute;
    top: -8px;
    left: -8px;
  }

  .day {  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}
