$white: #ffffff;
$black: #000000;
$grey: #F0F0F0;

$blue: #2576B7;
$blue-light: #5191C5;
$blue-lighter: #7CADD4;
$blue-dark: #1E5E92;
$blue-darker: #16476E;
$infotech-blue: #29475F;
$infotech-blue-light: #546C7F;
$infotech-blue-lighter: #7F919F;
$infotech-blue-dark: #21394C;
$infotech-blue-darker: #192B39;
